<p>Được dẫn đi chơi ở trung tâm thành phố - Lima central, cảm thấy sao mà đường phố sạch
    thế, không có rác
    luôn. Sau đó là lần đầu tiên uống Pisco sour, nói chung
    là mình không hợp khẩu vị với pisco, nhưng cũng là một món nên thử</p>

<div class="row">
    <div class="col-6">
        <img src="https://d1vego9xkjklqd.cloudfront.net/image/2019/street.jpg" alt=""
             class="img-fluid"/>
    </div>
    <div class="col-6">
        <img src="https://d1vego9xkjklqd.cloudfront.net/image/2019/pisco_sour.jpg" alt=""
             class="img-fluid"/>
    </div>
</div>


<p><br>Phía ngoài nhà thờ ở Lima central</p>


<p>
    <img src="https://d1vego9xkjklqd.cloudfront.net/image/2019/temple_lima_centero.jpg"
         alt=""
         class="img-fluid"/>
</p>
<p>Bên trong là nhà thờ rất hoành tráng</p>
<p>
    <img src="https://d1vego9xkjklqd.cloudfront.net/image/2019/temple_inside.jpg" alt=""
         class="img-fluid"/>
</p>
<p>Thành phố Lima về đêm</p>
<img src="https://d1vego9xkjklqd.cloudfront.net/image/2019/lima_at_night.jpg" alt=""
     class="img-fluid"/>
<h2 class="mb-3 mt-5">#Lần đầu rời khỏi Lima</h2>
<p>Nằm cách thành phố biển Ica 4 km là ốc đảo Huacachina. Theo truyền thuyết cổ, Huacay
    China, một cô gái xinh đẹp trong vùng, đang
    tắm tiên dưới hồ nước thì bị một chàng thợ săn trẻ phát hiện. Nàng Huacay bỏ chạy khi
    thấy bóng người lạ trong tấm gương soi. Gương vỡ tan biến thành đầm phá, vạt áo dài bung
    bay, rớt lại phía sau hóa những đụn cát khổng lồ bao quanh. Cô gái liền lặn xuống nước
    sâu để trốn người lạ mặt.</p>
<p>
    <img src="https://d1vego9xkjklqd.cloudfront.net/image/2019/huacachina.jpg" alt=""
         class="img-fluid"/>
    <img src="https://d1vego9xkjklqd.cloudfront.net/image/2019/trip.jpg" alt=""
         class="img-fluid"/>
</p>
<p><br>Hallowen đi chơi ở công viên mèo, rồi giáng sinh. Lần đầu tiên chơi Secret Santa (mọi
    người được bốc thăm để tặng những món quà cho nhau vào dịp giáng sinh mà không được để
    người được tặng biết là ai)</p>
<div class="row">
    <div class="col-6">
        <img src="https://d1vego9xkjklqd.cloudfront.net/image/2019/hallowen.jpg" alt=""
             class="img-fluid"/>
    </div>
    <div class="col-6">
        <img src="https://d1vego9xkjklqd.cloudfront.net/image/2019/secet-santa.jpg" alt=""
             class="img-fluid"/>
    </div>
</div>
<p>
    <br>
    Sang nhà 1 người bạn trong công ty vào dịp giáng sinh
</p>

<img src="https://d1vego9xkjklqd.cloudfront.net/image/2019/small-party.jpg" alt=""
     class="img-fluid"/>